<h2>Welcome to ChatApp</h2>

<div class="well">
  <div id="messages"></div>
  <input id="username" type="text" value="<%= @test.username %>" readonly></input>
  <input id="chat-input" type="text"></input>
</div>

